#navBar{
    background-image:url('../assets/wallpaper4.jpg');
}

body{
    /*background-color:  #d9d0deff; */
    background-color: #D9CFDE;
}

#principalCon{
    margin-top: 20px;
}

header{
    background-image:url('../assets/wallpaper3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
} 


#hPrincipal{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 50px; /* h1*/
    text-align: center;
    font-style: normal;
    font-stretch:ultra-condensed;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed;
    font-weight: 600;
    /*color: #DCE1B7; */
    /* color: #F7F2F4;*/
    color: #E3DBE6;
}

#parr1 {
    color: #E3DBE6;
}

h2{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 30px;
    font-weight: 500;
    background-color: #aa4465;
    /*background-image: linear-gradient(to right, #aa4465, #b6698c, #bf8cad, #caafc9, #d9d0de);*/
    color: #ddffd9ff;
    border-radius: 12px;
    margin: 10px  10px 10px 10px ;
    /* top|right|bottom|left */
    padding: 5px 0px 5px 0px;
    text-align: center;
}

h3{
    font-size: 25px;
    text-align: left;
}

.bi-stars {
    font-size: 16px;
    animation: 4s linear 0s infinite alternate sun-rise;
}

.bi-signpost-fill {
    font-size: 16px;
}    

.card {
    font-family: "Atkinson Hyperlegible", sans-serif;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ECE7EE;
    /* arriba|derecha|abajo|izq */
    margin: 10px 30px 5px 30px ;
    /* top|right|bottom|left */
    padding: 10px 0px 0px 10px;
}

.card img {
    height: auto;
    width: 100%;
    align-items: center;
}

#img1 {
    max-height: 80%;
}

.card button{
    align-items:end;
}

.card-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: #552538;
    font-size: 20px; /* es un h5*/ 
}
.card-text{
    padding-left: 10px;
}

.button {
    position: relative;
    overflow: hidden;
    height: 35px;
    /* top|right|bottom|left */
    padding: 0px 10px 0px 5px;
    border-radius: 20px;
    background: #D08AA1;
    color: #DDFFD9;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.button-content l-ping {
    margin-right: 1px;
  }

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(191, 95, 125, 1) 40.8%,
        rgba(128, 51, 76, 1) 94.3%
    );
    transition: all 0.475s;
}

a {
    text-decoration: none;
    color: #DDFFD9;
    font-weight: 400;
    font-size: medium;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 18px;
}

.sectionBD {
    font-family: "Atkinson Hyperlegible", sans-serif;
    background-color: #CFC3D5;
    /* background-color: #D9BFC9; */
    color: #AA4465;
    border-radius: 12px;
    /* arriba|derecha|abajo|izq */
    margin: 10px 25px 10px 25px ;
    /* top|right|bottom|left */
    padding: 5px 0px 5px 30px;
}

p {
    font-size: 18px;
}

.contentIzq{
    text-align: justify;
    /* arriba|derecha|abajo|izq */
    margin: 10px 25px 10px 25px ;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

footer {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

