#principalText {
    padding-top: 400px;
    padding-left: 30px;
}

#partA{
    padding-bottom: 125px;
}

#principalText p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: var(--colP);
}

#firstP {
    font-weight: 600; 
}

#principalText h1 {
    font-family: "Newsreader", serif;
    font-weight: 700; 
    font-size: 56px;
    color: var(--colH);
}

#principalText2 {
    padding-top: 300px;
    padding-bottom: 100px;
    text-align: center;
}

#starOne{
    font-size: 100px;
    padding-left: 30px;
    color: var(--colH);
}

#starTwo{
    font-size: 80px;
    color: var(--colH)
}

@keyframes destello {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes destello2 {
    0% { opacity: 0.75; }
    50% { opacity: 0.1; }
    100% { opacity: 0.75; }
}

#starOne{
    animation: destello2 18s infinite;
}

#starTwo {
    animation: destello 6s infinite;
}

.soft{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px;
    border-top: solid 2px ;
    border-color: var(--colH);
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 35px;
}

/* section two */

.sectionTwo {
    padding-top: 25px;
}

.sectionTwo h2 {
    /*font-family: "Newsreader", serif; */
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 45px;
    font-weight: 700; 
    text-align: center;
}

.product{
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product h3{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.product p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: justify;
}

.product i {
    font-size: 70px;
    padding-bottom: 20px;
}

h4 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

#imgFem{
    width: 300px;
    height: auto;
    padding-bottom: 15px;
}

#textFem{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 22px;
}

/* en construccion */ 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fa-gears {
    display: inline-block;
    animation: spin 4s linear infinite; 
}

/* section three*/ 
.sectionThree {
    border-top: solid 2px ;
    border-color: var(--colB);
    border-radius: 2px;
}

.sectionThree h2 {
    font-family: "Newsreader", serif; 
    font-size: 45px;
    font-weight: 700; 
    text-align: left;
    padding-top: 25px;
    padding-bottom: 35px;
}

.sectionThree  p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    align-items: center;
    font-size: 24px;
}

.contactoSection {
    padding-left: 30px;
}

#contact i {
    font-size: 25px;
}


/* ------ version movil*/
@media (max-width: 576px) {
    .specific {
        padding-top: 20px; 
    }
}

@media (max-width: 576px) {
    #principalText  {
        padding-top: 200px; 
        }
    }

@media (max-width: 576px) {
    #partA  {
        padding-bottom: 20px; 
        }
    }

@media (max-width: 576px) {
    .specificInit {
        padding-bottom: 20px; 
        padding-right: 20px;
        }
}


/* --- paleta de colores ---*/
:root{
    --fondo: #F9F1F4;
    --colH: #3A1823;
    --colP: #493140;
    --colB: #7A526B;
}

body{
    background-color: var(--fondo);
}