form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 3px solid var(--colH);
    background-color: #F8F9F1;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    max-width: 500px;
    border-radius: 12px;
    color: var(--colP);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #F8F9F1;
    
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #FBF4EE;
}

.poke-img {
    width: 180px;
}

#imgDra {
    height: 180px;
    width: auto;
    padding-left: 40px;
}


body {
    background-color: var(--fondo);
}

h1{
    font-size: 56px;
    font-weight: 600;
    font-family: 'Newsreader', serif;
    padding-top: 30px;
    padding-bottom: 20px;
    color: var(--colH);
}

p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: justify;
    color: var(--colP);
}


#notaEjemplo{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    color: var(--colP);
    padding-left: 20px;
}

.textFooter {
    font-size: 18px;
    font-family: "Atkinson Hyperlegible", sans-serif;

}

a {
    color: var(--colLink)
}

/* --- paleta de colores ---*/
:root{
    --fondo: #F9F1F4;
    --colH: #3A1823;
    --colP: #493140;
    --colB: #E7C6D2;
    --colLink: #D7907B;
}

nav a {
    font-family: "Atkinson Hyperlegible", sans-serif;
}