#principalText {
    padding-top: 400px;
    padding-left: 30px;
}

#partA{
    padding-bottom: 125px;
}

#principalText p {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

#firstP {
    font-weight: 600; 
}

#principalText h1 {
    font-family: "Newsreader", serif;
    font-weight: 700; 
    font-size: 57px;
}

#principalText2 {
    padding-top: 300px;
    padding-bottom: 100px;
    text-align: center;
}

#starOne{
    font-size: 100px;
}

#starTwo{
    font-size: 80px;
}

.soft{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px;
    border-top: solid 1px ;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 35px;
}

.sectionTwo {
    padding-top: 25px;
}

.sectionTwo h2 {
    font-family: "Newsreader", serif;
    font-size: 45px;
    font-weight: 700; 
    text-align: center;
}

.product{
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.product p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.product i {
    font-size: 70px;
    padding-bottom: 20px;
}

h3{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 600;
}